This script cleans up some data on pothole calls from Bloomington's 311 service
It also finds the difference between when the call was reported and when it was closed
it saves that difference as a timedelta object and as seconds in int form
then the script exports the differences calculated along with location data and call number all to a csv

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
pothole_df = pd.read_csv("pothole_data.csv")

In [4]:
len(pothole_df)

1833

In [5]:
list(pothole_df)

['service_request_id',
 'requested_datetime',
 'updated_datetime',
 'closed_date',
 'status',
 'source',
 'service_name',
 'service_subtype',
 'description',
 'agency_responsible',
 'address',
 'lat',
 'long']

In [8]:
# uncoment to check original form, is uglly
#pothole_df.requested_datetime

In [9]:
pothole_df["clean_request_dt"] = pd.to_datetime(pothole_df.requested_datetime)

In [13]:
pothole_df["clean_closed_dt"] = pd.to_datetime(pothole_df.closed_date)
pothole_df["clean_updated_dt"] = pd.to_datetime(pothole_df.updated_datetime)

In [14]:
list(pothole_df)

['service_request_id',
 'requested_datetime',
 'updated_datetime',
 'closed_date',
 'status',
 'source',
 'service_name',
 'service_subtype',
 'description',
 'agency_responsible',
 'address',
 'lat',
 'long',
 'clean_request_dt',
 'clean_closed_dt',
 'clean_updated_dt']

In [16]:
# checked again, looks good
#pothole_df.head()

In [19]:
# creates a time delta column, but it is of type timedelta. not sure if other programs will understand
pothole_df["time_dif"] = pothole_df.clean_closed_dt - pothole_df.clean_request_dt

In [32]:
pothole_df.time_dif

0      0 days 00:00:00
1      0 days 00:00:00
2      0 days 00:00:00
3      0 days 00:00:00
4      0 days 00:00:00
5      0 days 00:00:00
6      0 days 00:00:00
7      0 days 00:00:00
8      0 days 00:00:00
9      0 days 00:00:00
10     0 days 19:23:25
11     0 days 00:00:00
12     0 days 00:00:00
13     0 days 00:00:00
14     0 days 00:00:00
15     0 days 00:00:00
16     0 days 00:00:00
17     0 days 00:00:00
18     0 days 00:00:00
19     0 days 00:00:00
20     0 days 00:00:00
21     0 days 00:00:00
22     0 days 00:00:00
23     0 days 00:00:00
24     0 days 00:00:00
25     0 days 00:00:00
26     0 days 00:00:00
27     0 days 00:00:00
28     0 days 00:00:00
29     0 days 00:00:00
             ...
1803   0 days 19:37:43
1804   0 days 19:42:51
1805   0 days 12:01:30
1806   7 days 10:13:13
1807   0 days 00:20:29
1808   1 days 23:21:27
1809   1 days 23:19:43
1810   0 days 22:03:31
1811   0 days 00:20:18
1812   1 days 18:36:57
1813   0 days 20:17:49
1814   0 days 12:32:26
1815   0 days 13:50:10
1816   0 days 01:53:41
1817   0 days 01:00:15
1818   0 days 02:05:25
1819   0 days 00:48:30
1820   0 days 00:22:44
1821   5 days 08:35:37
1822   0 days 05:49:17
1823   0 days 00:02:05
1824   0 days 19:13:22
1825   0 days 10:19:44
1826   3 days 17:19:36
1827   3 days 11:02:56
1828   3 days 10:39:20
1829   0 days 11:06:08
1830   2 days 20:22:39
1831   0 days 00:00:48
1832   0 days 00:55:50
Name: time_dif, Length: 1833, dtype: timedelta64[ns]

In [20]:
pothole_df.time_dif.mean() # looks meaningful

Timedelta('11 days 17:41:15.331696')

In [29]:
# make a back up of time delta in seconds, an int just i case
pothole_df["response_seconds"] = pothole_df.time_dif.dt.seconds

In [31]:
pothole_df.response_seconds

0           0
1           0
2           0
3           0
4           0
5           0
6           0
7           0
8           0
9           0
10      69805
11          0
12          0
13          0
14          0
15          0
16          0
17          0
18          0
19          0
20          0
21          0
22          0
23          0
24          0
25          0
26          0
27          0
28          0
29          0
        ...
1803    70663
1804    70971
1805    43290
1806    36793
1807     1229
1808    84087
1809    83983
1810    79411
1811     1218
1812    67017
1813    73069
1814    45146
1815    49810
1816     6821
1817     3615
1818     7525
1819     2910
1820     1364
1821    30937
1822    20957
1823      125
1824    69202
1825    37184
1826    62376
1827    39776
1828    38360
1829    39968
1830    73359
1831       48
1832     3350
Name: time_dif, Length: 1833, dtype: int64

In [33]:
list(pothole_df)

['service_request_id',
 'requested_datetime',
 'updated_datetime',
 'closed_date',
 'status',
 'source',
 'service_name',
 'service_subtype',
 'description',
 'agency_responsible',
 'address',
 'lat',
 'long',
 'clean_request_dt',
 'clean_closed_dt',
 'clean_updated_dt',
 'time_dif',
 'response_seconds']

In [36]:
csvcolumns = ['service_request_id',
           'status',
           'service_name',
           'description',
           'address',
           'lat',
           'long',
           'time_dif',
           'response_seconds']

In [37]:
pothole_df.to_csv("clean_pothole_data.csv", columns=csvcolumns)